---

---

<div class="flex flex-col items-center gap-y-4 border border-white/10 rounded-lg p-8 backdrop-blur-md">
    <p class="text-lg font-normal text-white/80">
        Graduated in 2019 from the University of Technology of Havana (CUJAE) in Havana, Cuba, I am an automation engineer with over 5 years of experience in programming. During my studies and my first year of professional career, I specialized in hardware development, using languages such as Assembler, C, and C++. My projects spanned a variety of custom solutions for various purposes, with a particular focus on industrial applications and hardware implementation.

        In the last 4 years, I have redirected my career towards software development, emphasizing web development. I have been utilizing the latest technologies within the Asp.Net environment, NodeJS, and Odoo ERP. Additionally, I have expanded my skill set, focusing on some of the most popular front-end JavaScript frameworks, and have successfully delivered powerful APIs and dynamic web applications.

        Beyond programming, my greatest passion lies in learning and teaching what I have learned. I consider myself a strong team player, effectively interacting with coworkers. Guided by personal initiative, I am a quick learner and consistently provide results.

        Outside of my professional life, I have a deep passion for music, history, and the sciences, especially physics. These interests not only fuel my curiosity and creativity but also provide a well-rounded perspective that I bring into my work. Whether it's diving into the complexities of a new project or exploring the depths of a historical event or scientific phenomenon, I am always eager to learn and grow.
    </p>
</div>
