---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<!--<button class="p-1 pr-2 pl-2 rounded border-2 bg-transparent hover:bg-amber-50 hover:opacity-30 cursor-none" >Click</button>-->
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
