---
import Layout from '../layouts/Layout.astro';
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Pills from "../components/Pills.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience/Experience.astro";
import Container from "../components/Container.astro";
import Work from "../components/icons/Work.astro";
import Projects from "../components/Projects/Projects.astro";
import Code from "../components/icons/Code.astro";
---

<Layout title="Oriel Arteaga. Portfolio">
	<main>
		<Container class="pt-44 pb-24">
			<img
				class="rounded-full"
				src="public/profile_pic.webp"
				alt="oriel profile pic"
				width="100px"
				height="100px"
			/>
			<h1 class="text-6xl font-bold pb-10">Hey, I'm Oriel!</h1>
			<h2 class="text-2xl opacity-80 text-pretty">
				<span class="font-bold">+5 years of experience. </span>
				<span class="text-sky-400">Software Developer and Automation Engineer</span> from Matanzas, Cuba.
				Currently working at <a class="text-blue-500 font-bold" href="https://bizdirectconsulting.com/">Bizdirect Consulting</a>
			</h2>
			<section aria-label="Social links" class="flex gap-x-4 pt-10">
				<Pills href="https://github.com/Oriel9511">
					<Github/> Github
				</Pills>
				<Pills href="https://www.linkedin.com/in/oriel-arteaga-jiménez-2b5768180">
					<Linkedin/> Linkedin
				</Pills>
				<Pills href="orielarteagaj@gmail.com">
					<Mail/> Email
				</Pills>
			</section>
		</Container>
		<Container id="experience">
			<h2 class="text-2xl font-bold pb-10 flex items-center gap-x-3">
				<Work/>
				Work Experience
			</h2>
			<Experience/>
		</Container>
		<Container id="projects">
			<h2 class="text-2xl font-bold pb-10 flex items-center gap-x-3">
				<Code/>
				Major Projects
			</h2>
			<Projects/>
		</Container>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		line-height: 1.6;
	}
</style>
