---
import Layout from '../layouts/Layout.astro';
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Pills from "../components/Pills.astro";
import Mail from "../components/icons/Mail.astro";
import Experience from "../components/Experience/Experience.astro";
import Container from "../components/Container.astro";
import Work from "../components/icons/Work.astro";
import Projects from "../components/Projects/Projects.astro";
import Code from "../components/icons/Code.astro";
import UserIcon from "../components/icons/UserIcon.astro";
import CoreStrenth from "../components/Skills/CoreStrenth.astro";
import TechnicalSkills from "../components/Skills/TechnicalSkills.astro";
import ToolsIcon from "../components/icons/ToolsIcon.astro";
import AboutMe from "../components/About/AboutMe.astro";
import CoreIcon from "../components/icons/CoreIcon.astro";
import TelegramIcon from "../components/icons/TelegramIcon.astro";
import WhatsappIcon from "../components/icons/WhatsappIcon.astro";
---

<Layout title="Oriel Arteaga. Portfolio">
	<main>
		<Container id="home" class="pt-56 flex flex-col items-center md:items-start gap-y-1">
			<img
				class="rounded-full"
				src="/portfolio/profile_pic.webp"
				alt="oriel profile pic"
				width="100px"
				height="100px"
			/>
			<h1 class="text-6xl font-bold pb-10">Hey, I'm Oriel!</h1>
			<h2 class="md:text-2xl text-center md:text-start text-3xl opacity-80 text-pretty">
				<span class="font-bold">+5 years of experience. </span>
				<span class="text-sky-400">Software Developer and Automation Engineer</span> from Matanzas, Cuba.
				Currently working at <a class="text-blue-500 font-bold" href="https://bizdirectconsulting.com/">Bizdirect Consulting</a>
			</h2>
			<section aria-label="Social links" class="flex flex-wrap md:flex-row gap-4 pt-10 ">
				<Pills href="https://github.com/Oriel9511" class="github-pill">
					<Github/> Github
				</Pills>
				<Pills href="https://www.linkedin.com/in/oriel-arteaga-jiménez-2b5768180" class="linkedin-pill">
					<Linkedin/> Linkedin
				</Pills>
				<Pills href="mailto:orielarteagaj@gmail.com" class="email-pill">
					<Mail/> Email
				</Pills>
				<Pills href="https://t.me/ORIEL95" class="telegram-pill">
					<TelegramIcon/> Telegram
				</Pills>
				<Pills href="https://wa.me/5353361122" class="whatsapp-pill">
					<WhatsappIcon/> Whatsapp
				</Pills>
			</section>
		</Container>
		<Container id="core" class="pt-24">
			<h2 class="text-4xl md:text-2xl font-bold pb-10 flex items-center gap-x-3">
				<CoreIcon/>
				Core Strengths
			</h2>
			<CoreStrenth/>
		</Container>
		<Container id="skills" class="pt-24">
			<h2 class="text-4xl md:text-2xl font-bold pb-10 flex items-center gap-x-3">
				<ToolsIcon/>
				Technical Skills
			</h2>
			<TechnicalSkills/>
		</Container>
		<Container id="experience" class="pt-24">
			<h2 class="text-4xl md:text-2xl font-bold pb-10 flex items-center gap-x-3">
				<Work/>
				Work Experience
			</h2>
			<Experience/>
		</Container>
		<Container id="projects" class="pt-24">
			<h2 class="text-4xl md:text-2xl font-bold pb-10 flex items-center gap-x-3">
				<Code/>
				Major Projects
			</h2>
			<Projects/>
		</Container>
		<Container id="about" class="pt-24">
			<h2 class="text-4xl md:text-2xl font-bold pb-10 flex items-center gap-x-3">
				<UserIcon/>
				About Me
			</h2>
			<AboutMe/>
		</Container>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 50%;
		color: white;
		line-height: 1.6;
	}
	@media (max-width: 768px) {
		main {
			width: 800px;
		}
		#home{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}
	.github-pill:hover {
		background-color: rgba(55, 65, 81, 0.7);
		color: white;
	}
	.linkedin-pill:hover {
		background-color: rgba(29, 78, 216, 0.7);
		color: white;
	}
	.email-pill:hover {
		background-color: rgba(185, 28, 28, 0.7);
		color: white;
	}
	.telegram-pill:hover {
		background-color: rgba(3, 105, 161, 0.7);
		color: white;
	}
	.whatsapp-pill:hover {
		background-color: rgba(21, 128, 61, 0.7);
		color: white;
	}
</style>
