<footer class="text-white py-8 w-[800px]">
    <section class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
        <div class="flex flex-col items-center gap-y-2 border border-white/10 rounded-lg p-4 backdrop-blur-md">
            <h2 class="text-xl font-semibold">About This Project</h2>
            <p class="text-lg font-normal text-white/80">This portfolio is built with Astro, a modern static site generator. It's inspired by the portfolio project developed by <a href="https://github.com/midudev/porfolio.dev" class="cursor-pointer text-sky-300 hover:text-sky-500 font-bold">midudev</a> and the community, showcasing the power of Astro for creating fast and efficient web applications.</p>
        </div>
        <div class="flex flex-col items-center gap-y-2 border border-white/10 rounded-lg p-4 backdrop-blur-md">
            <h2 class="text-xl font-semibold">Get in Touch</h2>
            <a href="mailto:orielarteagaj@gmail.com" class="mb-4 text-lg font-normal text-white/80 hover:text-white">orielarteagaj@gmail.com</a>
            <div class="flex gap-x-2">
                <a href="https://linkedin.com/in/oriel-arteaga-jiménez-2b5768180" target="_blank" class="mb-4 text-lg font-normal text-white/80 hover:text-[#0A66C2]">LinkedIn</a>
                <a href="https://github.com/Oriel9511" target="_blank" class="mb-4 text-lg font-normal text-white/80 hover:text-gray-500">GitHub</a>
                <a href="https://wa.me/5353361122" target="_blank" class="mb-4 text-lg font-normal text-white/80 hover:text-[#25D366]">WhatsApp</a>
                <a href="https://t.me/ORIEL95" target="_blank" class="mb-4 text-lg font-normal text-white/80 hover:text-[#26A5E4]">Telegram</a>
            </div>
        </div>
    </section>
    <section class="text-center text-white/80 mt-4">
        © 2023 Oriel Arteaga. Software Developer.
    </section>
</footer>
<style>
    footer {
        margin: auto;
        padding: 1rem;
        width: 100%;
        color: white;
        line-height: 1.6;
    }
    @media (max-width: 768px) {
        footer {
            width: 800px;
        }
    }
</style>
