<footer class="text-white py-8">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-4 p-4">
        <div class="flex flex-col items-center gap-y-2 border border-white/10 rounded-lg p-4 backdrop-blur-md">
            <h2 class="text-lg font-semibold">About Me</h2>
            <p class="text-base font-normal text-white/80">Software developer with expertise in modern web technologies and a passion for creating efficient and user-friendly solutions.</p>
        </div>
        <div class="flex flex-col items-center gap-y-2 border border-white/10 rounded-lg p-4 backdrop-blur-md">
            <h2 class="text-lg font-semibold">Quick Links</h2>
            <a href="#projects" class="mb-4 text-base font-normal text-white/80 hover:text-white">Projects</a>
            <a href="#skills" class="mb-4 text-base font-normal text-white/80 hover:text-white">Skills</a>
            <a href="#contact" class="mb-4 text-base font-normal text-white/80 hover:text-white">Contact</a>
        </div>
        <div class="flex flex-col items-center gap-y-2 border border-white/10 rounded-lg p-4 backdrop-blur-md">
            <h2 class="text-lg font-semibold">Get in Touch</h2>
            <a href="mailto:orielarteagaj@gmail.com" class="mb-4 text-base font-normal text-white/80 hover:text-white">orielarteagaj@gmail.com</a>
            <div class="flex gap-x-2">
                <a href="https://linkedin.com/in/oriel-arteaga-jiménez-2b5768180" target="_blank" class="mb-4 text-base font-normal text-white/80 hover:text-white">LinkedIn</a>
                <a href="https://github.com/Oriel9511" target="_blank" class="mb-4 text-base font-normal text-white/80 hover:text-white">GitHub</a>
                <a href="https://wa.me/5353361122" target="_blank" class="mb-4 text-base font-normal text-white/80 hover:text-white">WhatsApp</a>
                <a href="https://t.me/ORIEL95" target="_blank" class="mb-4 text-base font-normal text-white/80 hover:text-white">Telegram</a>
            </div>
        </div>
    </div>
    <div class="text-center text-white/80 mt-4">
        &copy; 2023 Oriel Arteaga. All rights reserved.
    </div>
</footer>
