---

---

<header class="flex justify-center items-center w-[1250px] opacity-80 p-2">
    <nav class="flex gap-x-10 text-2xl">
        <a href="#top">Home</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#about">About</a>
        <a href="#contact">Contact</a>
    </nav>
</header>

<style>

</style>
