---
import ExperienceItem from "./ExperienceItem.astro";
const experience = [
    {
        date: "Jan 2022 – Present...",
        title: "Bizdirect Consulting Inc.",
        description: `As a full-stack developer, working with Asp.Net, Node.js, Odoo ERP, React and VueJs. I am currently the dev leader of a small team of 4 developers, working on numerous projects for various clients and businesses.`,
        link: "https://bizdirectconsulting.com",
    },
    {
        date: "May 2024 - Sept 2024",
        title: "IsuCorp",
        description: `As a full-stack developer at IsuCorp, I worked on the .Net platform, being part of a team responsible for maintaining and improving existing software. My contribution included bug fixing, implementing new features, and enhancing software efficiency and performance. This experience allowed me to strengthen my skills in software development and maintenance in collaborative environments.`,
        link: "https://www.isucorp.ca",
    },
    {
        date: "Oct 2019 - Oct 2023",
        title: "CEDAI",
        description: `At CEDAI, I worked as a hardware programmer, and working with PLCs and Arduino and embedded electronic systems. My role included programming and implementing control algorithms for industrial projects. This experience allowed me to develop automated and efficient control solutions, applying my knowledge in hardware programming and control algorithms.`,
        link: "https://www.linkedin.com/company/cedai-empresa-de-automatizaci%C3%B3n-integral/?originalSubdomain=cu",
    },
    {
        date: "Sept 2019 - Sept 2021",
        title: "Thermoelectric Plant of Matanzas",
        description: `As an automation specialist, I participated in various solutions to problems that arose at the thermoelectric plant, which enabled the continuous operation of the plant and the optimization of the electric power generation processes.`,
        link: null
    },
];
---

<ol {...Astro.props} class={`relative border-s border-gray-200 dark:border-gray-700 ml-3 ${Astro.props.class}`}>
    {experience.map((item) => (
        <li class="mb-10 ms-4">
            <ExperienceItem {...item}/>
        </li>
    ))}
</ol>

