---
import Background from "../components/background.astro";
import "@fontsource/dongle"; // Defaults to weight 400
import "@fontsource/dongle/400.css";
import Cursor from "../components/cursor.astro"; // Specify weight
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Background/>
		<Cursor/>

		<div id="content">
			<slot />
		</div>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: 'Dongle', sans-serif;
		font-size: 96px;
		text-shadow: 1px 1px rgba(0,0,0,0.1);
		cursor: none;
	}
	h1{
		font-size: 96px;
		text-shadow: 1px 1px rgba(0,0,0,0.2);
		font-weight: inherit;
		-webkit-font-smoothing: subpixel-antialiased;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
